In [57]:
import pandas as pd
import requests
import sqlite3
from plyer import notification
from datetime import datetime

In [58]:
def estados_ibge():
    url = "https://brasilapi.com.br/api/ibge/uf/v1"
    response = requests.get(url)

    if response.status_code == 200:
        data_json = response.json()
        estados_ibge_df = pd.DataFrame(data_json)
        
        # Tratamento dos dados
        # Renomeando colunas 
        estados_ibge_df = estados_ibge_df.rename(columns={
            'sigla': 'UF', 
            'nome': 'Estado',
            'regiao': 'Regiao'
        })
        
        # Excluindo colunas 
        if 'id' in estados_ibge_df.columns:
            estados_ibge_df = estados_ibge_df.drop(columns=['id'])
        
               
        return estados_ibge_df
    else:
        print("Erro ao acessar a API de Estados")
        return None

estados_ibge().head(10)

   UF     Estado                                        Regiao
0  RO   Rondônia      {'id': 1, 'sigla': 'N', 'nome': 'Norte'}
1  AC       Acre      {'id': 1, 'sigla': 'N', 'nome': 'Norte'}
2  AM   Amazonas      {'id': 1, 'sigla': 'N', 'nome': 'Norte'}
3  RR    Roraima      {'id': 1, 'sigla': 'N', 'nome': 'Norte'}
4  PA       Pará      {'id': 1, 'sigla': 'N', 'nome': 'Norte'}
5  AP      Amapá      {'id': 1, 'sigla': 'N', 'nome': 'Norte'}
6  TO  Tocantins      {'id': 1, 'sigla': 'N', 'nome': 'Norte'}
7  MA   Maranhão  {'id': 2, 'sigla': 'NE', 'nome': 'Nordeste'}
8  PI      Piauí  {'id': 2, 'sigla': 'NE', 'nome': 'Nordeste'}
9  CE      Ceará  {'id': 2, 'sigla': 'NE', 'nome': 'Nordeste'}

In [60]:
def taxas_juros():
    url = 'https://brasilapi.com.br/api/taxas/v1'
    response = requests.get(url)

    if response.status_code == 200:
        data_json = response.json()
        taxas_juros_df = pd.DataFrame(data_json)
        
        # Tratamento dos dados
        # Renomeando Colunas
        taxas_juros_df = taxas_juros_df.rename(columns={
            'nome': 'Nome da Taxa',
            'valor': 'Taxa de Juros (%)'
        })
        
        # Excluindo colunas
        if 'data' in taxas_juros_df.columns:
            taxas_juros_df = taxas_juros_df.drop(columns=['data'])
        
               
        return taxas_juros_df
    else:
        print("Erro ao acessar a API de Taxas de Juros")
        return None

taxas_juros().head(5)

  Nome da Taxa  Taxa de Juros (%)
0        Selic              10.50
1          CDI              10.40
2         IPCA               3.93

In [46]:
def corretoras():
    url = 'https://brasilapi.com.br/api/cvm/corretoras/v1'
    response = requests.get(url)

    if response.status_code == 200:
        data_json = response.json()
        corretoras_df = pd.DataFrame(data_json)
        
        # Tratamento dos dados
        # Renomeando colunas
        corretoras_df = corretoras_df.rename(columns={
            'codigo_cvm': 'Código CVM',
            'nome_social': 'Nome Social',
            'nome_comercial': 'Nome Comercial',
            'cnpj': 'CNPJ'
        })
        
        # Excluindo colunas
        if 'situacao' in corretoras_df.columns:
            corretoras_df = corretoras_df.drop(columns=['situacao'])  # Exemplo de coluna a ser removida
                
        return corretoras_df
    else:
        print("Erro ao acessar a API de Corretoras")
        return None

corretoras().head(5)

,CNPJ,type,Nome Social,Nome Comercial,status,email,telefone,cep,pais,uf,municipio,bairro,complemento,logradouro,data_patrimonio_liquido,valor_patrimonio_liquido,Código CVM,data_inicio_situacao,data_registro
0,76621457000185,CORRETORAS,4UM DTVM S.A.,4UM INVESTIMENTOS,CANCELADA,controle@4um.com.br,33519966,80420210,BRASIL,PR,CURITIBA,CENTRO,4º ANDAR,R. VISCONDE DO RIO BRANCO 1488,2005-12-31,4228660.18,2275,2006-10-05,1968-01-15
1,33817677000176,CORRETORAS,ABC BRASIL DISTRIBUIDORA DE TÍTULOS E VALORES ...,ABC BRASIL DTVM,CANCELADA,complianceregulatorio@abcbrasil.com.br,31702172,1453000,,SP,SÃO PAULO,ITAIM BIBI,2º ANDAR,"AV. CIDADE JARDIM, 803",2002-12-31,0.00,3514,2002-10-14,2002-10-14
2,10664027000132,CORRETORAS,ABERTURA CCVM LTDA,ABERTURA CCVM LTDA,CANCELADA,,,50010240,BRASIL,PE,RECIFE,,,R DO IMP.D.PEDRO II 239/CJ.102,1989-12-31,5995252.29,329,1990-06-12,1986-07-08
3,44527444000155,CORRETORAS,ABN AMRO CLEARING CORRETORA DE T-TULOS E VALOR...,,EM FUNCIONAMENTO NORMAL,canal.comunicacao@br.abnamro.com,30737417,4551010,,SP,SÃO PAULO,VILA OLIMPIA,"11¦ ANDAR, CJ. 111","RUA FIDÛNCIO RAMOS, N¦ 302, TORRE B",2023-12-31,11122779.75,3794,2022-06-20,2022-06-20
4,33819590000138,CORRETORAS,AÇÃO S.A. CORRETORA DE VALORES E CÂMBIO,ACAO SA CVC,CANCELADA,,5095755,20040040,BRASIL,RJ,RIO DE JANEIRO,CENTRO,,"PRAÇA OLAVO BILAC, 28/ SL. 608",2000-12-31,291862.38,1112,2001-04-11,1968-04-19

In [70]:
def salvar_bd(df, tabela_nome, conexao):
        df.to_sql(tabela_nome, conexao, if_exists='replace', index=False)

conexao = sqlite3.connect('dados_api.db')


df_estados_ibge = estados_ibge()
df_taxas_juros = taxas_juros()
df_corretoras = corretoras()